@import url("https://fonts.googleapis.com/css2?family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Work Sans", serif;
}
:root {
  --td-1: #131313;
  --td-2: #424242;
  --td-3: #727272;
  --td-4: #a1a1a1;
  --td-5: #d0d0d0;
  --td-6: #e7e7e7;
  --td-7: #f3f3f3;
  --bg-c: rgba(255, 144, 14, 0.1);
  --pri-c: #ff900e;
}

/* ===== common style ===== */

.container {
  max-width: 1440px;
  padding: 0 3vw;
  margin: 0 auto;
}
.primary-btn {
  padding: 16px 32px;
  background-color: var(--pri-c);
  color: #ffffff;
  font-size: 1.2rem;
  font-weight: 500;
  border: none;
  border-radius: 8px;
  margin: 28px 0;
}

/* ===== Navigation Section ===== */
header {
  background-color: var(--bg-c);
}
nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px 0;
}
.nav-links ul {
  display: flex;
  gap: 60px;
}
.nav-links ul li {
  list-style: none;
  font-size: 1.2rem;
}
.nav-links ul li a {
  text-decoration: none;
  color: var(--td-2);
}
.logo h3 {
  font-size: 2.2rem;
  font-weight: 700;
}

/* ===== Hero Section ====== */
.hero {
  padding-top: 64px;
  padding-bottom: 2rem;
}
.hero h1 {
  font-size: 3.8rem;
  margin-bottom: 1.5vw;
}
.hero P {
  line-height: 1.5rem;
  color: var(--td-3);
}
.hero img {
  width: 100%;
}
.hero-content {
  text-align: center;
  width: 60%;
  margin: 0 auto;
}

/* ===== feature-section ===== */
.feature-section {
  margin: 0 auto;
  display: flex;
  gap: 50px;
  align-items: center;
  padding: 80px 0;
  max-width: 1200px;
}
.feature-left {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 28px;
}

.feature-right h2 {
  font-size: 2.8rem;
}
.fs-1 {
  font-weight: 500;
  color: var(--td-3);
}
.fs-2 {
  font-weight: 700;
  color: var(--td-1);
}
.fs-3 {
  color: var(--pri-c);
}
.feature-right p {
  line-height: 1.7rem;
  margin-top: 20px;
}
